{% load new_pin %}
{% load compress %}

<!DOCTYPE html>
<html>
  <head>
    <title>{{ site_name }} - {% block title %}{% endblock %}</title>

    {% compress css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}vendor/bootstrap/2.0.3/css/bootstrap.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}vendor/fancybox/2.0.6/jquery.fancybox.css">

    <link rel="stylesheet" href="{{ STATIC_URL }}core/css/pinry.css">
    {% endcompress %}
    <link rel="stylesheet" href="{{ STATIC_URL }}core/css/custom-lookify.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Monoton">
    <script type="text/javascript">
      var _kmq = _kmq || [];
      var _kmk = _kmk || '102d624d748717790d0662404dd3a76f37fa2095';
      function _kms(u){
      setTimeout(function(){
      var d = document, f = d.getElementsByTagName('script')[0],
      s = d.createElement('script');
      s.type = 'text/javascript'; s.async = true; s.src = u;
      f.parentNode.insertBefore(s, f);
      }, 1);
      }
      _kms('//i.kissmetrics.com/i.js');
      _kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');
    </script>

    <script type="text/javascript">
      {% if settings.GOOGLE_ANALYTICS_KEY %}
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ settings.GOOGLE_ANALYTICS_KEY }}']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

      {% else %}
      var _gaq = _gaq || [];
      {% endif %}
    </script>
    <!-- TradeDoubler site verification 2159754 -->

  </head>
  <body>
    <script type="text/template" id="tpl-test">
      <p>Hej</p>
    </script>

    <!-- Underscore.js Templates -->
    <script type="text/template" id="tpl-pin">
	<a class="fancybox" rel="pins" href="#<%= id %>">
          <img src="<%= url %>" width="200" >
          <strong class="PriceContainer">
            <p class="product-price">SEK <%= price %></p>
          </strong>
        </a>
        <p class="product-name"><%= name %></p>
        <p class="product-brand"><%= brand %></p>

    </script>

    <script type="text/template" id="tpl-pin-overlay">
        <img src="<%= url %>"/>
        <div class="product-info">
          <p class="overlay-name"><%= name %></p>
          <p class="overlay-brand"><span>Fr&aring;n </span><%= brand %></p>
          <p class="overlay-price"><%= price %> SEK</p>
          <p class="overlay-description"><%= real_description %></p>
	  <a class="more-info" target="_blank" class="btn btn-warning btn-large" href="<%= tracking_url %>">MER INFO</a>
          <a class="buy" target="_blank" class="btn btn-warning btn-large" href="<%= tracking_url %>">KÖP</a>
	</div>
    </script>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <a href="{% url core:home %}" class="brand" style="background-image:url('{{ STATIC_URL }}media/img/logo.png');background-repeat:none;"/></a>
<!--
          <a class="dropdown-toggle categories" data-toggle="dropdown" href="#">Kategorier</a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <li><a href="#">Kl&auml;nningar & Kjolar</a></li>  
    <li><a href="#">Tr&ouml;jor</a></li>
    <li><a href="#">T-shirtar & Toppar</a></li>
    <li><a href="#">Jackor & Kappor</a></li>
    <li><a href="#">Kavajer & V&auml;star</a></li>
    <li><a href="#">Byxor & Jeans</a></li>    
    <li><a href="#">Skjortor & Blusar</a></li>
    <li><a href="#">Underkl&auml;der</a></li>
  </ul>-->
  
<ul class="nav pull-right">
  {% if user.is_authenticated %}
  <li><a href="#new-pin" data-toggle="modal">New Pin - BORT!!</a></li>
  <li><a href="{% url core:logout %}">Logga ut</a></li>
  {% else %}
  <!--
      <li><a href="{% url core:login %}">Logga in</a></li>
  <li><a href="{% url core:register %}">Registrera</a></li>-->
  {% endif %}
</ul>
</div>
</div>

{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}

{% block yield %}{% endblock %}

{% new_pin request %}

{% compress js %}
<script src="{{ STATIC_URL }}vendor/jquery/1.7.2/jquery.js"></script>
<script src="{{ STATIC_URL }}vendor/bootstrap/2.0.3/js/bootstrap.js"></script>
<script src="{{ STATIC_URL }}vendor/wookmark/0.5/jquery.wookmark.js"></script>
<script src="{{ STATIC_URL }}vendor/fancybox/2.0.6/jquery.fancybox.js"></script>
<script src="{{ STATIC_URL }}vendor/imagesloaded/2.0.1/jquery.imagesloaded.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js"></script>
<script src="{{ STATIC_URL }}js/backbone/backbone-min.js"></script>
<script src="{{ STATIC_URL }}js/backbone-paginator/lib/backbone.paginator.js"></script>
<script src="{{ STATIC_URL }}js/backbone.marionette.js"></script>
<script src="{{ STATIC_URL }}js/backbone-tastypie.js"></script>
<script src="{{ STATIC_URL }}core/js/pinry_backbone.js"></script>

<script src="{{ STATIC_URL }}core/js/messages.js"></script>
{% endcompress %}

</body>
</html>
