[submodule "pinry/core/static/js/backbone"]
	path = pinry/core/static/js/backbone
	url = git://github.com/documentcloud/backbone.git
[submodule "pinry/core/static/js/backbone-paginator"]
	path = pinry/core/static/js/backbone-paginator
	url = git://github.com/addyosmani/backbone.paginator.git
